Source: ignition-physics
Standards-Version: 3.9.8
Maintainer: Jose Luis Rivero <jrivero@osrfoundation.org>
Section: science
Priority: optional
Build-Depends: cmake,
               pkg-config,
               debhelper (>= 9),
               libignition-cmake2-dev,
               libignition-common3-graphics-dev,
               libignition-math6-dev,
               libignition-math6-eigen3-dev,
               libignition-plugin-dev,
               libdart6-dev,
               libdart6-collision-ode-dev,
               libdart6-utils-dev,
               libdart6-utils-urdf-dev,
               libsdformat8-dev
Vcs-Browser: https://bitbucket.org/ignitionrobotics/ign-physics-release
Vcs-Hg: https://bitbucket.org/ignitionrobotics/ign-physics-release
Homepage: http://ignitionrobotics.org/

Package: libignition-physics-core-dev
Architecture: any
Section: libdevel
Depends: libignition-cmake2-dev,
         libignition-math6-dev,
         libignition-plugin-dev,
         libsdformat8-dev,
         libignition-physics (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Ignition Physics classes and functions for robot apps - Development files
  Ignition Physics is a component in the ignition framework, a set of libraries
  designed to rapidly develop robot applications.
  .
  Core component, development files

Package: libignition-physics-sdf-dev
Architecture: any
Section: libdevel
Depends: libignition-physics-core-dev,
         libignition-cmake2-dev,
         libsdformat8-dev,
         libignition-physics (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Ignition Physics classes and functions for robot apps - SDF Dev files
  Ignition Physics is a component in the ignition framework, a set of libraries
  designed to rapidly develop robot applications.
  .
  SDF component, development files

Package: libignition-physics-mesh-dev
Architecture: any
Section: libdevel
Depends: libignition-physics-core-dev,
         libignition-cmake2-dev,
         libignition-common3-graphics-dev,
         libignition-physics (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Ignition Physics classes and functions for robot apps - Mesh Dev files
  Ignition Physics is a component in the ignition framework, a set of libraries
  designed to rapidly develop robot applications.
  .
  Mesh component, development files

Package: libignition-physics
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Ignition Physics classes and functions for robot apps - Shared library
  Ignition Physics is a component in the ignition framework, a set of libraries
  designed to rapidly develop robot applications.
  .
  Main shared library

Package: libignition-physics-dartsim-dev
Architecture: any
Section: libdevel
Depends: libignition-physics-core-dev,
         libignition-cmake2-dev,
         libignition-math6-dev,
         libignition-math6-eigen3-dev,
         libignition-plugin-dev,
         libdart6-dev,
         libdart6-collision-ode-dev,
         libdart6-utils-urdf-dev,
         libsdformat8-dev,
         libignition-physics (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Ignition Physics classes and functions for robot apps - Development files
  Ignition Physics is a component in the ignition framework, a set of libraries
  designed to rapidly develop robot applications.
  .
  Dartsim component, development files

Package: libignition-physics-dev
Architecture: any
Section: libdevel
Depends: libignition-physics-core-dev,
         libignition-physics-dartsim-dev,
         libignition-physics-mesh-dev,
         libignition-physics-sdf-dev,
         ${misc:Depends}
Multi-Arch: same
Description: Ignition Physics classes and functions for robot apps - Metapackage
  Ignition Physics is a component in the ignition framework, a set of libraries
  designed to rapidly develop robot applications.
  .
  Metapackage, all development files
